<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLifeCycleExample</display-name>
    <servlet-name>ServletLifeCycleExample</servlet-name>
    <servlet-class>com.training.ServletLifeCycleExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeCycleExample</servlet-name>
    <url-pattern>/example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieForm</display-name>
    <servlet-name>CookieForm</servlet-name>
    <servlet-class>com.training.CookieForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieForm</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
</web-app>